// Top Navigation Bar
$top-navbar-bg: #f3f3f3 !default;

// Colors - custom for theme
$background-color: #ffffff !default;
$button-color: #ebeef1 !default;
$text-regular-color: #000000 !default;
$text-hover-color: #000000 !default;

